// Colors
$bg-color: rgba(46, 58, 70);
$bg-barra: rgba(33, 37, 41);
$text-white: rgba(255, 255, 255);
$bg-white: rgba(255, 255, 255);
$text-gray: rgb(158, 158, 158);

// Fonts
$main-font: 'Montserrat', sans-serif;